<br>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2" style="box-shadow: 0 0 10px black;">
    <a class="navbar-brand" href="/dashboard">FPL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/player/matches"> match</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/player/player">TEAM</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          TRANSFER
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item " href="/player/transfer/forward">FORWARD<span class="sr-only">(current)</span></a>
                    <a class="dropdown-item" href="/player/transfer/midfield">MIDFIELDER</a>
                    <a class="dropdown-item" href="/player/transfer/defender">DEFENDER</a>
                    <a class="dropdown-item active" href="/player/transfer/keeper">GOALKEEPER</a>
                </div>
            </li>
            <li class="nav-item">
                <a name="" id="" class="btn btn-primary" href="#" role="button" onclick="$('.filter').toggle()">FILTER</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="search(document.getElementById('search').value)">Search</button>
        </div>
    </div>
</nav>
<center>
    <div style="color: whitesmoke;" class="filter">
        OV_RATING
        <input type="number" class="col-lg-1 m-2" name="val1" id="val1" min="0" max="100" value="0">
        <input type="number" class="col-lg-1 m-2" name="val2" id="val2" min="0" max="100" value="100">
        <br>
        <input name="" id="" style="background-color: #fb2950;" class="btn btn-primary" onclick="test()" type="button" value="FILTER">
    </div>
</center>


<p class="text-center mt-2 mb-4 title">
    GoalKeepers

</p>
<%  for (x=0; x <1000 ; x++) { %>


    <div id="gk<%= x %>" class="player-card card text-center col-md-3 mt-5" style="background-image: url(https://media.futview.com/common/cards/fifa20/sbc_special%402x.png);">
        <b><%= player[x].Name %></b><br>
        <hr>
        <div class="cont">
            <p style="display: inline;">Rating</p>
            <p id="gk_Rating<%= x %>" style="display: inline;">
                <%= player[x].Rating %>
            </p><br>
            <%= player[x].Club %><br>
                <%= player[x].Position %>
        </div>
        <hr> <br> Passing
        <%= player[x].Passing %><br> Defending
            <%= player[x].Defending %><br> Physical
                <%= player[x].Phyiscality %><br> Price
                    <%= player[x].Price %>

                        <form action="" onSubmit="return confirm('Do you want to buy this player?') " method="post">
                            <input type="text" name="name" value="<%= player[x].Name %>" style="display: none;">
                            <input type="text" name="rating" value="<%= player[x].Rating %>" style="display: none;">
                            <input type="text" name="position" value="<%= player[x].Position %>" style="display: none;">
                            <input type="text" name="shooting" value="<%= player[x].Shooting %>" style="display: none;">
                            <input type="text" name="dribbling" value="<%= player[x].Dribbling %>" style="display: none;">
                            <input type="text" name="defending" value="<%= player[x].Defending %>" style="display: none;">
                            <input type="text" name="physical" value="<%= player[x].Phyiscality %>" style="display: none;">
                            <input type="text" name="passing" value="<%= player[x].Passing %>" style="display: none;">
                            <input type="text" name="club" value="<%= player[x].Club %>" style="display: none;">
                            <input type="text" name="country" value="<%= player[x].Country %>" style="display: none;">
                            <input type="text" name="popularity" value="<%= player[x].Popularity %>" style="display: none;">
                            <input type="text" name="price" value="<%= player[x].Price %>" style="display: none;">
                            <input type="text" name="user" value="<%= user.name %>" style="display: none;">
                            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#ara<%= x %>" style="border-radius: 30%;background-color:rgb(214, 79, 16);">BUY</button>
                        </form>

    </div>

    <% } %>
        <div style="position: fixed;" class="theone">
            BUDGET <br>
            <%= user.transfer %> <br>
                <a href="/dashboard"><i class="fa fa-home" aria-hidden="true"></i></a>
        </div>
        <script>
            function search(string) {
                window.find(string);
            }

            function test() {
                for (x = 0; x < 1000; x++) {
                    if (+document.getElementById(`gk_Rating${x}`).innerHTML.trim() >= $('#val1').val() && +document.getElementById(`gk_Rating${x}`).innerHTML.trim() <= $('#val2').val()) {
                        document.getElementById(`gk${x}`).style.display = 'inline-block';
                    } else {
                        document.getElementById(`gk${x}`).style.display = 'none';
                    }
                }
            }
        </script>